body
{
    background-color:#eff0eb;
    font-family: 'Lato', sans-serif;
    
    
}

#container
{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}

.logo h1
{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 56px;
    text-align: center;
    text-shadow: 9px -5px 5px rgba(150, 150, 150, 0.8);
}

.logo h1::selection
{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 56px;
    text-align: center;
    text-shadow: 9px -5px 5px rgba(150, 150, 150, 0.8);
    background-color: none;
}

.logo h1:hover
{
    cursor: default;
}



.socials
{
    position: absolute;
    top: 0;
    right: 0;
}

.socialicon
{
    font-size: 28px;
    text-decoration: none;
    color: #000000;
}

.socialfb
{
    transition: transform 0.2s ease-in-out;
    float: left;
}

.socialfb:hover
{
    transform: scale(1.2);
}

.socialig
{
    transition: transform 0.2s ease-in-out;
    float: left;
}

.socialig:hover
{
    transform: scale(1.2);
}

.socialtw
{
    transition: transform 0.2s ease-in-out;
    float: left;
}

.socialtw:hover
{
    transform: scale(1.2);
}

.socialli
{
    transition: transform 0.2s ease-in-out;
    float: left;
}

.socialli:hover
{
    transform: scale(1.2);
}

.sticky1 .socialli:hover, .sticky1 .socialtw:hover, .sticky1 .socialig:hover, .sticky1 .socialfb:hover
{
    transform: none;
}

.navigation
{
    background-image: url(img/nav.png);
    width: 100%;
    height: 40px;
    border-radius: 30px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;

}

.sticky
{
    width: 1000px;
    position: fixed;
    left: auto;
    top: 0;
    z-index: 100;
}

.sticky1
{
    width: 1000px;
    position: fixed;
    left: 7%;
    top: 50%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    transition: 1s;
}




button
{
    border-radius: 10px;
    border: none;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    margin-right: 5px;
    height: 40px;
    width: 120px;
    outline: none;
    background-color: #eff0eb;
    transition: transform 0.2s ease-in-out;  
}

button:hover
{
    transform: scale(1.1);
    cursor: pointer;
}

.buttontxt
{
   font-size: 20px;
   font-family: 'Cormorant Garamond', serif;
}

.buttontxt a
{
    text-decoration: none;
    color: #000000;
}

.buttonnav
{
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

.article
{
    width: 100%;
    background-color: #e6e7e0;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
}

.article h2
{
    width: 50%;
    height: 36px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 30px;
    letter-spacing: 3px;
    color: #525252;
    border-left: 2px solid #525252;
    border-right: 2px solid #525252;
    border-radius: 5px;
}

.article p
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 40px;
    line-height: 1.5;
}

.pictures
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.industrial
{
    float: left;
    margin-right: 33px;
    margin-left: 17px;
    width: 300px;
    height: 500px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    
}

.industrial img
{
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
}

.industrial img:hover
{
    transform: scale(1.2);
}

.nature
{
    float: left;
    margin-right: 33px;
    width: 300px;
    height: 500px;
    overflow: hidden;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
}

.nature img
{
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
}

.nature img:hover
{
    transform: scale(1.2);
}

.landscape
{
    float: left;
    width: 300px;
    height: 500px;
    overflow: hidden;
    margin-right: 17px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
}

.landscape img
{
    transition: transform 0.5s ease-in-out;
    border-radius: 10px;
}

.landscape img:hover
{
    transform: scale(1.2);
}

footer
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    background-color: #e6e7e0;
    border-radius: 10px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);

}

.container2
{
    float: left;
}

.aboutme
{
    display: block;
    width: 580px;
    height: 280px;
    margin-bottom: 20px;
    background-color: #e6e7e0;
    border-radius: 10px;
    padding: 50px;
    text-align: justify;
    line-height: 1.5;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
}

.contact
{
    display: block;
    width: 580px;
    height: 80px;
    margin-top: 20px;
    background-color: #e6e7e0;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1.5;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
}

.email
{
    font-weight: 700;
    text-align: left;
}

.myphoto
{
    display: block;
    float: left;
    width: 300px;
    height: 500px;
    background-color: #e6e7e0;
    margin-left: 20px;
    border-radius: 10px
    -webkit-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    -moz-box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
    box-shadow: 3px 3px 10px 5px rgba(214,214,214,1);
}

.myphoto img
{
    border-radius: 10px;
}